body
{
	margin-top: -25px;
}

.menu_button
{
	position: relative;
	width: 250px;
	height: 60px;
	background-color: #234;
	font-size: -webkit-xxx-large;
	color: cadetblue;
	cursor:pointer;
	border-style: double;
	font-family: monospace;
}

#mcanvas
{
	position: static;
	padding-top: 100px;
    width: 800px;
    height: 700px;
    margin: 0 auto;
}

#bg
{
	position: static;
	display: block;
	background:#000;
	margin: 0px;
	border-top: 100px;
	width: 800px;
	height: 600px;
}

#game
{
	position: static;
	display: block;
	margin: 0px;
	margin-top: -600px;
	width: 800px;
	height: 600px;
}



#menu
{
	margin: 30px auto 30px;
	padding-left: 30%;
}


#gameName
{
	color: #fff;
	font-family: "HelveticaNeue-UltraLight";
	font-size: 24px;
	text-align: center;
}