body
{
	margin-top: -25px;
}

#mcanvas
{
	background-color: #555;
    position: relative;
    width: 800px;
    height: 600px;
    margin: 0 auto;
}

#bg
{
	display: block;
	background:#000;
	margin: 30px auto 0px;
	width: 800px;
	height: 600;
}

#game
{
	display: block;
	margin: -600px auto 0px;
	width: 800px;
	height: 600;

}



#menu
{
	margin: 30px auto 30px;
	padding-left: 30%;
}


#gameName
{
	color: #fff;
	font-family: "HelveticaNeue-UltraLight";
	font-size: 24px;
	text-align: center;
}